<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @moto.nom %>
</p>

<p>
  <strong>Poids:</strong>
  <%= @moto.poids %>
</p>

<p>
  <strong>Cylindrée:</strong>
  <%= @moto.cylindree %>
</p>

<%= link_to 'Edit', edit_moto_path(@moto) %> |
<%= link_to 'Back', motos_path %>